.dashboard-header {
    display: flex;
    align-items: bottom;
    justify-content: space-between;


    &__buttons-container {
        &>button:not(:last-child) {
            margin-right: 2rem;
        }
    }
}