@import '../../styles/abstracts/variables';

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__icon {
        width: 2rem;
        height: 2rem;
        fill: $COLOR_BLUE_10;
        display: flex;
    }

    &__button {

        display: inline-block;
        padding: 2rem;
        font-size: 1.4rem;
        line-height: 1;
        text-decoration: none;
        color: $COLOR_BLUE_10;


        &:hover {
            background-color: rgba($COLOR_BLUE_10, .2);
        }

        &:focus {
            outline: none;
        }

        &--active {
            font-size: 2rem;
            font-weight: 700;
        }
    }
}