@import '../../styles/abstracts/variables';

.return-calculator {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        margin: 2rem 0 3rem;
        text-align: center;
    }

    &__range-slider {
        align-self: stretch;
        margin-bottom: 2rem;
    }

    &__button {
        margin-top: 4rem;
    }

    &__result-box {
        align-self: flex-end;
    }

    &__result-label {
        margin-right: 2rem;
        font-size: 1.4rem;
        font-weight: bold;
        color: $COLOR_GRAY_10;
    }

    &__result-value {
        font-size: 3rem;
        color: $COLOR_BLUE_30
    }
}