// COLORS
$COLOR_BLUE_10: #148CF0;
$COLOR_BLUE_20: #0560CA;
$COLOR_BLUE_30: #0045B7;
$COLOR_GREEN_10: #6EDCC4;
$COLOR_GREEN_20: #18C19C;
$COLOR_GREEN_30: #1AAB8B;
$COLOR_RED_10: #F44881;
$COLOR_RED_20: #F8616A;
$COLOR_RED_30: #EC454F;
$COLOR_ORANGE_10: #FFC73C;
$COLOR_ORANGE_20: #ECA338;
$COLOR_ORANGE_30: #F19A1A;
$COLOR_WHITE: #fff;
$COLOR_BLACK: #000;
$COLOR_GRAY_5: #fafafa;
$COLOR_GRAY_8: #8F8F90;
$COLOR_GRAY_10: #707070;

// GRADIENTS
$GRADIENT_BLUE_1: linear-gradient(45deg, $COLOR_BLUE_30, $COLOR_BLUE_10);
$GRADIENT_RADIAL_BLUE_1: radial-gradient($COLOR_BLUE_10, $COLOR_BLUE_30);
$GRADIENT_RED_1: linear-gradient(45deg, $COLOR_RED_30, $COLOR_RED_20);
$GRADIENT_GREEN_1: linear-gradient(45deg, $COLOR_GREEN_30, $COLOR_GREEN_20);

// SHADOW
$BOX_SHADOW_SMALL: 0 .5rem 1rem rgba($COLOR_BLACK, .2);
$BOX_SHADOW_MEDIUM: 0 1rem 2rem rgba($COLOR_BLACK, .2);
$BOX_SHADOW_BIG: 0 2rem 4rem rgba($COLOR_BLACK, .2);

// CONTAINER
$CONTAINER_WIDTH: 120rem;

// GRID
$GRID_MARGIN_VERTICAL: 1.5rem;
$GUTTER_HORIZONTAL: 4rem;
$GUTTER_VERTICAL: 30px;

// HEADER
$HEADER_HEIGHT: 6.6rem;

// HAMBURGER
$HAMBURGER_SIZE: 4rem;

// Z-INDEX
$CAROUSEL_ARROW_Z_INDEX: 500;
$HEADER_Z_INDEX: 500;
$MOBILE_NAV_Z_INDEX: 1000;
$MODAL_Z_INDEX: 1500;
$FLASH_MESSAGE_Z_INDEX: 2000;