@import '../../../../../styles/abstracts/variables';
@import '../../../../../styles/abstracts/mixins';

.presentation {
    display: flex;
    min-height: 100vh;
    padding: 2rem 0;

    @include respond(tp) {
        flex-direction: column;
    }

    &__container {
        flex: 1 1 50%;

        &--title-container {
            padding: 2rem;
            @include flex-center-column;
        }

        &--image-container {
            background-image: url('/img/tree.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            @include flex-column;
            justify-content: flex-end;

            @include respond(tp) {
                flex-direction: row;
                align-items: stretch;
            }
        }
    }

    &__title-box {
        text-align: center;
    }

    &__target-details-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        background-color: rgba($COLOR_BLACK, .7);

        @include respond(tp) {
            width: 100%;
        }
    }

    &__target-box {
        margin-right: 2rem;

        @include respond(tp) {
            align-self: center;
        }
    }

    &__title {
        margin: 2rem 0 3rem;
    }
}