@import '../../../styles/abstracts/variables';

.form-error {
    display: flex;
    align-items: center;
    margin: .5rem 0 0;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: $COLOR_RED_30;
        margin-right: 1rem;
    }

    &__message {
        font-size: 1.2rem;
        line-height: 1.2;
        color: $COLOR_RED_30;
    }
}