@import '../../../../styles/abstracts/variables';

.comment-rates {
  &__icon {
    width: 2rem;
    height: 2rem;

    &--thumb-up {
      fill: none;
      stroke: $COLOR_GREEN_30;
    }
    &--thumb-up-voted {
      fill: $COLOR_GREEN_30;
    }
    &--thumb-down {
      fill: none;
      stroke: $COLOR_RED_30;
    }
    &--thumb-down-voted {
      fill: $COLOR_RED_30;
    }
  }
}
