.form-group {

    &--filtration-checkbox {
        flex: 1 1 50%;
    }

    &--filtration-range-slider {
        margin-bottom: 3rem;
    }

    &--change-personal-data {
        display: flex;
        justify-content: flex-start;
    }

    &--change-personal-data &__label {
        display: inline-block;
        width: 10rem;
        margin-bottom: 0;
        font-weight: 300;
        align-self: center;
    }

    &--change-personal-data &__input {
        flex: 1 1 50%;
        padding: 0;
        background-color: transparent;
        color: $COLOR_GRAY_10;
    }

    &__round-buttons-container {
        display: flex;
        border-bottom: 3px solid $COLOR_WHITE;

        &>* {
            margin-left: .2rem;
            margin-bottom: .2rem;
        }
    }
}