html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    min-height: 100vh;
    color: $COLOR_GRAY_10;
}

button {
    font-family: inherit;
}

// RANGE THUMB GLOBAL STYLING
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    border-radius: 50%;
    cursor: pointer;
}

input[type="text"],
input[type="email"] {
    width: 100%;
}